@model IEnumerable<Hospital.Domain.Entidades.ConsultaMedica>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Intelectah Consultas</h1>

<p>
    <a asp-action="Create">Criar nova consulta</a>
</p>
<p>
    Pesquisar Por Nome
    @using (Html.BeginForm("Index", "ConsultaMedica", FormMethod.Get))
    {
    @Html.TextBox("Pesquisa")
    <input type="submit" value="Pesquisar" />
    }
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraExame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protocolo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHoraExame)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exame.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Protocolo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
